@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


/* body{
    background-image: url('../images/bgg.png');
    background-repeat: no-repeat;
    background-size: cover;
}  */

.parent-succ-div{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.parent-succ-div h2{
    color:black;
    font-family: poppins;
    margin-right: 2%;
}

.parent-succ-div h4{
    color: black;
    font-family: poppins;
}

.parent-succ-div img{
    height: 11%;
    width: 11%;
    margin-top: 15%;
}